### Tuplas

In [1]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefante",9.8, 'Python')

In [2]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefante', 9.8, 'Python')

In [3]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
# Tuplas não suportam delete de um item especifico
de tupla1['Elefante']

SyntaxError: invalid syntax (3755134164.py, line 2)

In [6]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [7]:
tupla1

'Chocolate'

In [8]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [9]:
tupla1[0]

'Geografia'

In [10]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [11]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [13]:
tupla1.index('Elefantes')

2

In [14]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [15]:
# Deletando a tupla
del tupla1

In [16]:
tupla1

NameError: name 'tupla1' is not defined

In [18]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [19]:
t2

('A', 'B', 'C')

In [20]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [21]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [22]:
lista_t2

['A', 'B', 'C']

In [23]:
lista_t2.append('D')

In [24]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [25]:
t2

('A', 'B', 'C', 'D')

### Fim